@-webkit-keyframes spawn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Standard syntax */

@keyframes spawn {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* TOP LEVEL */

html {
    width: 100%;
    height: 100%;
}

body {
    background: #232323;
    color: #fafaff;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    outline: none;
    color: #fafaff;
}

/* LAYOUT */

.container {
    padding: 6em;
    display: flex;
    flex-direction: row;
}

@media (max-width: 70em) {
    .container {
        flex-direction: column;
    }
}

/* BACKGROUND IMAGE */

.background {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    pointer-events: none;
    z-index: -10;
}

.background-container {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

/*https://css-tricks.com/perfect-full-page-background-image*/

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    -webkit-filter: blur(0.5vw);
    filter: blur(0.5vw);
    pointer-events: none;
    -webkit-transition: opacity 1s cubic-bezier(0.11, 0, 0.5, 0);
    -moz-transition: opacity 1s cubic-bezier(0.11, 0, 0.5, 0);
    -o-transition: opacity 1s cubic-bezier(0.11, 0, 0.5, 0);
    transition: opacity 1s cubic-bezier(0.11, 0, 0.5, 0);
    opacity: 0;
    z-index: 0;
}

.background-image.current {
    opacity: 1;
}

/* THU_BNAIL SECTION */

.thumbnail {
    display: inline-grid;
    background-color: transparent;
    box-shadow: 0 0 12px #00000047;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    background-size: cover;
    background-position: center;

    width: 24em;
    height: 24em;

    margin: 0 2em 2em 0;
}

.thumbnail-tint {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background-color .2s ease;
}

.thumbnail.paused > .thumbnail-tint,
.thumbnail:hover > .thumbnail-tint {
    background: rgba(0, 0, 0, 0.2);
}

.thumbnail.paused:hover > .thumbnail-tint {
    background: rgba(0, 0, 0, 0.3);
}

.thumbnail-icon {
    box-sizing: border-box;
    pointer-events: none;
    height: 100px;

    border-color: transparent transparent transparent #dadadfa0;
    transition: .2s all ease;
    will-change: border-width;
    cursor: pointer;

    border-style: double;
    border-width: 0px 0 0px 80px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
}

.thumbnail.paused > .thumbnail-icon {
    border-style: solid;
    border-width: 50px 0 50px 80px;
}

.thumbnail:hover > .thumbnail-icon,
.thumbnail.paused > .thumbnail-icon {
    opacity: 1;
}

.thumbnail-volume {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    transition: .2s opacity ease;
    opacity: 0;
}

.thumbnail:hover:not(.paused) > .thumbnail-volume {
    opacity: 1;
}

.thumbnail-volume-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;

    opacity: 0;
}

.thumbnail-volume-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;

    background: #dadadfa0;
}

/* DATA SECTION */

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.data {
    margin: 0.5em 0;
    padding: 0.5em 1em;
    background-color: #00000050;
    box-shadow: 0 0 12px #00000043;
    backdrop-filter: blur(1em);
}

.data-author {
    font-size: 2.5em;
}

.data-title {
    font-size: 5.5em;
}

.data-subtitle {
    font-size: 2.5em;
    color: #dadadf;
}

.data-listeners {
    font-size: 1.5em;
    color: #dadadf;
}

.data-link-disabled {
    pointer-events: none;
}

/* ANIMATIONS */

.anim-init {
    opacity: 0;
}

.anim-playing {
    animation: spawn 1s ease;
}

.animation.d1 {
    animation-duration: 1.2s;
}

.animation.d2 {
    animation-duration: 1s;
}

.animation.d3 {
    animation-duration: 0.85s;
}

.animation.d4 {
    animation-duration: 0.7s;
}